*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#009ACD;

}
.p__social{
    color: #fff;
}
.pindureta{
    margin-left: 1rem;
    color: white;
} 
.divpindureta{
    width: 120px;
    height: 35px;;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: rgba(255, 67, 67, 0.79);

}
.textbolis{
    width: 90px;
    height: 35px;;
    display: flex;
    color: white;
    align-items: center;
    /* justify-content: center; */
    background-color: rgba(255, 67, 67, 0.79);

}
.bolisp{
   margin: 1rem;
}
.divpsapien{
    width: 90px;
    height: 35px;;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: rgba(255, 67, 67, 0.79);

}
.psapien{
    margin: 1rem;
    color: white;

}

.divlogo{
    display: flex;
    align-items: center;
}
.menuicon{
    height: 40px;
}
.p__buttonface{
  margin: 10px 0 0 10px;
}
.p__buttontwitter{
    margin: 10px 0 0 10px;
}
.buttonface{
    width: 100px;
    display: flex;
}
.buttontwitter{
    width: 100px;
    display: flex;
    margin-left: 2rem;
}
.divbutton{
    display: flex;
    justify-content: space-around;
}
.logobuttonface{
 
    height: 30px;
}
.logobuttontwitter{
    height: 30px;
}
.divimage{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    width: 85vw;
    height: 60vh;
    margin: 3rem 0 0 5rem;
    background-image: url(assets/image_rotate.png);
}
.divtext{
    margin: 0 0 2rem ;
  
   
}
.p__text{
    width:16rem;
    margin-left: 2rem;
    color: white;
    background-color:#009ACD;

}
.p__text2{
    color: white;
    margin-top: 5px;
    padding-left: 2rem;
    font-size: 25px;
}
.divimagecrianca{
    background-image: url(assets/highlight-01.png);
    align-items: flex-end;
    padding-top: 10rem;
    width: 350px;
    height: 215px;
}
.divbolis{
    background-image: url(assets/highlight-02.png);
    width: 350px;
    height: 215px;
    padding-top: 10rem;
    margin-top: 54px;
}
.divsapiens{
    background-image: url(assets/highlight-03.png);
    width: 350px;
    padding-top: 10rem;
    height: 215px;
    margin-top: 54px;
 }
.divimagensmain{
    width: 71rem;
    margin: 4rem 0 0 4rem;
    display: flex;
    justify-content: space-around;
}
.titleimg{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: gray;
}
.divsecondmain{
    width: 61vw;
    display: flex;
}
.title__secondmain{
    margin: 3rem 0 0 5rem;
    font-size: 2rem;
    color: gray;
}
.imgmusic{
    width: 361px;
    margin-top: 7rem;
}
.divcentral{
    display: flex;
    margin: 2rem 0 0 5rem;
}
.imgdivinus{
    width: 360px;
    height: 202px;
    margin-top: 108px;
}
.divimgmain{
    width: 374px;
   margin-right: 24px;
}
.divimgmain2{
    padding: 5px;
}
.titlemain{
    color:#009ACD;
    font-size: 22px
}
.tex__main{
    color: gray;
    font-size: 20px;
}
.text__main2{
    color: gray;
    font-size: 20px;
}
.P__anean{
    font-size: 20px;
    color: gray;
}
.P__matis{
    width: 361px;
    font-size: 20px;
    color: gray;

}
.P__divinis{
    font-size: 20px;
    color: gray;
}
.h1__paisis{
    /* margin-left: 1rem; */
    color:#009ACD;
}
.divtextfinal{
    margin-left: 5rem;
    padding-top:  7rem;
}
.textpaisis{
    /* padding: 1rem; */
    width: 25vw;
    color:#000080;
    font-size: 19px;
}
.divtextpaisis{
    padding-top: 2rem;
}
.sec__final{
    height: 100vh;
    display: flex;
   
}
.div__sepirulitar{
    display: flex;
    flex-direction: column;
    margin: 6rem 0 0 4rem;
}
.title__sepirulitar1{
    padding: 0 0 1rem 0;
    font-size: 2rem;
    color: red;

}
.title__sepirulitar{
    /* padding: 0 0 1rem 0; */
    font-size: 25px;
    color: red;
}
.sepirulitar2{
    margin-top: 1rem;
}
span{
    display: flex;
}
.NAN_LIBER{
    color: red;
}
.textcasamentis{
    font-size: 20px;
    width: 12rem;
}
.divnan{
    margin-left: 1rem;
}
.textgotis{
    width: 11rem;
    font-size: 20px;
}
.span2{
    display: flex;
}
.divgotis{
    margin-left: 1rem;

}
.divinteragi{
    margin: 5rem 0 0 2rem;
    display: flex;
    flex-direction: column;
}
.divinteragir2{
    margin-left:1rem;
}
.imgolho{
    width: 167px;
    margin-top: 1rem;
}
.p__interagi{
    width: 10rem;
}
.titlegotis{
    color: red;
}
.divgotis2{
    margin-left: 1rem;
}
footer{
    width:100%;
    height: 15vh;
    background-color:#009ACD ;

}
.pfooter{
    color: white;
    margin-top: 5px;
    margin-left: 67rem;
    font-size: 20px;
}
.divfooter{
    width: 100vw;
    height: 15vh;
    background-color: #36648B;
}
.p__noticias{
    width: 52rem;
    color: white;
}
a{
    color: white;
}
.titlefooter{
    color: white;
}